<h3>Administrators</h3>
As an Administrator, you can rename or delete anything on the workspace. Administrators can add users,
change their permission levels or remove them. Admins alone have access to the 
workspace's Settings page and are also the only ones who can change page and folder level security
settings. Admins are the only ones who can see Hidden pages or edit Locked pages.
<br><br>
<h3>Editors</h3>

Editors are trusted helpers who are highly privileged Writers. They can rename or 
delete pages, files and folders. Editors should be highly trusted, since they can delete your data
irrevocably.
<br><br>
<h3>Writers</h3>
The recommended default for invited users. Writers can edit pages and revert pages to previous versions.
They can also upload new files and create new pages. Writers cannot perform any action that cannot be undone.
<br><br>
<h3>Readers</h3>
Readers cannot make any modifications at all to a workspace<span class="disabled_reader_comments" style="display:none">, except for commenting on pages</span>. They can view pages, RSS feeds, and files.
They can also see the history of changes that have been made to a page.<span class="disabled_reader_comments" style="display:none"> Admins can disable commenting by Readers on the workspace security page.</span>
<br><br>
<h3>Page Level Only</h3>
A role unique to PBworks 2.0, these users have no special access to any part of 
the workspace until they are explicitly given access to a page or a folder with the Custom Security setting.
This feature allows you to give individual users up to Editor level permissions on a single page
(or group of pages in a folder) without giving them access to any other part of the workspace.
