/* General Styles */
/* * RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.google_map img {
  max-width: none !important;
}
.theme-content img,
#mk-sidebar img,
#mk-footer img,
.mk-page-section img,
.mk-edge-slider img,
.ajax_project img,
.vc_row-fluid img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
a {
  color: #777;
}
p {
  margin-bottom: 30px;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
strong,
th,
thead td {
  font-weight: bold;
}
cite,
em,
dfn {
  font-style: italic;
}
code,
pre {
  margin: 10px 0 20px 0;
  display: block;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid #e8e8e8;
  padding: 20px 10px;
  background: #ffffff;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  overflow: auto;
  background: url("../../images/pre_code.gif") repeat scroll 0 0 #f2f3f5;
}
del {
  color: #666;
  text-decoration: line-through;
}
/*ins,
dfn {
  border-bottom: 1px solid #ccc;
}*/
small,
sup,
sub {
  font-size: 85%;
}
abbr,
acronym {
  text-transform: uppercase;
  letter-spacing: .1em;
}
a abbr,
a acronym {
  border: none;
}
abbr[title],
acronym[title],
dfn[title] {
  border-bottom: 1px dotted #ccc;
  cursor: help;
}
sup {
  vertical-align: super;
}
sub {
  vertical-align: sub;
}
p,
ul,
ol,
dl,
table,
fieldset,
blockquote,
pre,
code {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
p,
a {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  outline: 0 none;
  text-decoration: none;
}
.floatleft,
.alignleft {
  float: left;
  text-align: left;
}
.floatright,
.alignright {
  float: right;
  text-align: right;
}
.aligncenter {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.clearboth {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  width: 0;
  height: 0;
}
.clearboth:after {
  display: block;
  visibility: hidden;
  clear: both;
  width: 0;
  height: 0;
  content: ' ';
  font-size: 0;
  line-height: 0;
}
* html .clearboth {
  height: 1%;
}
ul {
  margin-bottom: 1em;
  margin-left: 1.5em;
  list-style-type: disc;
}
ul li {
  margin-left: .85em;
}
ul ul {
  list-style-type: square;
}
ul ul ul {
  list-style-type: circle;
}
ol {
  margin-bottom: 1em;
  margin-left: 2.35em;
  list-style-position: outside;
  list-style-type: decimal;
}
dt {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 0.2em;
}
dd {
  margin: 0;
  padding: 0 0 1em 15px;
}
ol ol,
ul ol {
  margin-left: 2.5em;
}
ul ol,
ol ul,
ol ol,
ul ul {
  margin-bottom: 0;
}
fieldset {
  padding: 1em;
  border: 1px solid #dddddd;
}
legend {
  padding: 0 .8em;
  font-weight: bold;
  font-size: 1.2em;
}
textarea,
input[type=text],
input[type=password],
input[type=email],
select {
  outline: none;
  border: none;
  font-size: inherit;
}
input,
select {
  cursor: pointer;
}
input[type=text],
input[type=password],
input[type=email] {
  cursor: text;
}
textarea {
  overflow: auto;
}
textarea,
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=search] {
  font-size: 13px;
  color: #767676;
  padding: 10px 12px;
  background-color: #fdfdfd;
  border: 1px solid #e3e3e3;
  outline: none;
  margin-bottom: 4px;
}
textarea:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=search]:focus {
  background-color: #fff;
  border: 1px solid #dcdcdc;
}
#theme-page select {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  background: url('../../images/selectbox-arrow.png') right center no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 12px 14px 12px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #252525;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-weight: bold;
  min-width: 240px;
  max-width: 100%;
  display: block;
}
option {
  padding: 0 4px;
}
/* HEADEING STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.8em;
  font-weight: normal;
  line-height: 1.3em;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 36px;
  margin-bottom: 16px;
}
h2 {
  font-size: 30px;
  margin-bottom: 14px;
}
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
h4 {
  font-size: 24px;
  margin-bottom: 9px;
}
h5 {
  font-size: 18px;
  margin-bottom: 8px;
}
h6 {
  font-size: 14px;
  margin-bottom: 8px;
}
.visuallyhidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  left: -100000px;
  top: -100000px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.mk-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.mk-video-container iframe,
.mk-video-container object,
.mk-video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mk-video-wrapper {
  max-width: 100%;
}
.mk-background-stretch,
.mk-background-stretch .parallax-layer {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
.mk_rev_slider_wrapper {
  overflow: hidden;
}
/**********************************************
blog-classic.less
**********************************************/
.mk-blog-classic-item .blog-social-share {
  z-index: 30;
}
.post-type-badge {
  z-index: 10;
}
/**********************************************
blog-comments.less
**********************************************/
.mk-commentlist li .comment-content {
  z-index: 10;
}
/**********************************************
blog-grid.less
**********************************************/
.mk-blog-grid-item .blog-grid-hover-icon {
  z-index: 10;
}
/**********************************************
blog-modern.less
**********************************************/
.mk-blog-modern-item .blog-social-share {
  z-index: 10;
}
/**********************************************
edge-one-pager.less
**********************************************/
.mk-edge-one-pager .mk-grid {
  z-index: 14;
}
.fullPage-slidesNav {
  z-index: 4;
}
#fullPage-nav {
  z-index: 300;
}
/**********************************************
edge-slider.less
**********************************************/
.mk-edge-slider .mk-grid {
  z-index: 14;
}
.mk-edge-slider .edge-slider-holder {
  z-index: 10;
}
.mk-edge-slider .edge-slider-loading {
  z-index: 20;
}
.mk-edge-slider .edge-skip-slider {
  z-index: 10;
}
.mk-swiper-container {
  z-index: 1;
}
.swiper-pagination {
  z-index: 10;
}
.mk-edge-nav a {
  z-index: 1000;
}
/**********************************************
flexslider-base.less
**********************************************/
.flex-direction-nav a {
  z-index: 10;
}
/**********************************************
footer.less
**********************************************/
#mk-footer {
  z-index: 10;
}
#mk-footer.mk-footer-unfold {
  z-index: 9;
}
/**********************************************
header-toolbar.less
**********************************************/
.mk-header-toolbar {
  z-index: 310;
}
.mk-language-nav-sub-wrapper {
  z-index: 20;
}
.mk-fullscreen-search-overlay {
  z-index: 999;
}
.mk-toolbar-resposnive-icon {
  z-index: 80;
}
@media handheld, only screen and (max-width: 780px) {
  .mk-login-register,
  #mk-header-subscribe {
    z-index: 50;
  }
}
/**********************************************
header.less
**********************************************/
#mk-header {
  z-index: 301;
}
#mk-header .mk-header-bg,
#mk-header .mk-classic-nav-bg {
  z-index: 1;
}
#mk-header .header-logo a {
  z-index: 30;
}
#mk-header .mk-header-inner {
  z-index: 300;
}
.mk-header-holder {
  z-index: 200;
}
.header-style-2.header-sticky-ready .mk-header-nav-container {
  z-index: 210;
}
.mk-header-right {
  z-index: 20;
}
.mk-header-nav-container {
  z-index: 30;
}
.header-style-2.header-align-center .header-logo {
  z-index: 2;
}
.header-style-3 .mk-dashboard-trigger {
  z-index: 11;
}
.header-style-4 {
  z-index: auto !important;
}
.header-style-4 .mk-header-inner {
  z-index: 300 !important;
}
/**********************************************
icarousel.less
**********************************************/
#iCarousel-preloader {
  z-index: 1000;
}
#iCarousel-timer {
  z-index: 1000;
}
a.iCarouselNav {
  z-index: 1000;
}
/**********************************************
jplayer.less
**********************************************/
div.jp-volume-bar {
  z-index: 20;
}
/**********************************************
layout.less
**********************************************/
.mk-go-top {
  z-index: 300;
}
.mk-zindex-fix {
  z-index: 60;
}
#theme-page {
  z-index: 10;
}
/**********************************************
lightbox.less
**********************************************/
.fancybox-wrap {
  z-index: 8020;
}
.fancybox-opened {
  z-index: 8030;
}
#fancybox-loading {
  z-index: 8060;
}
.fancybox-close {
  z-index: 8040;
}
.fancybox-nav {
  z-index: 8040;
}
.fancybox-nav span {
  z-index: 8040;
}
.fancybox-overlay {
  z-index: 8010;
}
.fancybox-title {
  z-index: 8050;
}
.fancybox-title-float-wrap {
  z-index: 8050;
}
/**********************************************
nav.less
**********************************************/
.mk-classic-menu-wrapper {
  z-index: 99;
}
.main-navigation-ul > li.menu-item ul.sub-menu:after {
  z-index: 10;
}
.main-navigation-ul:not(.dropdownJavascript) li.menu-item:hover > ul.sub-menu {
  z-index: 10;
}
.dropdownJavascript li.dropdownOpen > ul.sub-menu {
  z-index: 10;
}
.has-mega-menu > ul.sub-menu > ul.sub-menu {
  z-index: auto;
}
.mk-nav-responsive-link {
  z-index: 12;
}
#mk-responsive-nav {
  z-index: 20;
}
/**********************************************
news-teaser.less
**********************************************/
.mk-news-tab .mk-tabs-tabs {
  z-index: 10;
}
.mk-news-tab .mk-tabs-panes {
  z-index: 1;
}
.mk-news-tab .mk-tabs-panes .mk-tabs-pane {
  z-index: 8;
}
/**********************************************
page-introduce.less
**********************************************/
#mk-page-introduce {
  z-index: 8;
}
/**********************************************
pagination.less
**********************************************/
.mk-post-nav {
  z-index: 200;
}
.mk-post-nav.post-nav-backward {
  z-index: 199;
}
.pagnav-wrapper .pagenav-top {
  z-index: 201;
}
/**********************************************
portfolio-ajax.less
**********************************************/
.portfolio-loader {
  z-index: 10000;
}
.portfolio-loader > div {
  z-index: 10000;
}
/**********************************************
portfolio-classic.less
**********************************************/
.mk-portfolio-classic-item .featured-image img {
  z-index: 10;
}
.mk-portfolio-classic-item .featured-image .image-hover-overlay {
  z-index: 11;
}
.mk-portfolio-classic-item .permalink-badge,
.mk-portfolio-classic-item .mk-lightbox {
  z-index: 20;
}
/**********************************************
portfolio-hovers.less
**********************************************/
.mk-portfolio-item.fadebox-hover .portfolio-meta {
  z-index: 20;
}
.mk-portfolio-item.fadebox-hover .featured-image:after {
  z-index: 10;
}
.mk-portfolio-item.fadebox-hover .featured-image .grid-hover-icons {
  z-index: 13;
}
.mk-portfolio-item.slidebox-hover .portfolio-meta {
  z-index: 20;
}
.mk-portfolio-item.slidebox-hover .grid-hover-icons {
  z-index: 21;
}
.mk-portfolio-item.slidebox-hover .image-hover-overlay {
  z-index: 12;
}
.mk-portfolio-item.zoomin-hover .portfolio-meta {
  z-index: 20;
}
.mk-portfolio-item.zoomin-hover .grid-hover-icons {
  z-index: 13;
}
.mk-portfolio-item.zoomin-hover .image-hover-overlay {
  z-index: 11;
}
.mk-portfolio-item.zoomout-hover .grid-hover-icons {
  z-index: 10;
}
.mk-portfolio-item.zoomout-hover .portfolio-meta {
  z-index: 10;
}
.mk-portfolio-item.zoomout-hover .grid-hover-icons {
  z-index: 10;
}
.mk-portfolio-item.zoomout-hover .featured-image img {
  z-index: 11;
}
.mk-portfolio-item.zoomout-hover .image-hover-overlay {
  z-index: 4;
}
.mk-portfolio-item.zoomout-hover .featured-image:hover .portfolio-meta {
  z-index: 12;
}
.mk-portfolio-item.zoomout-hover .featured-image:hover .grid-hover-icons {
  z-index: 13;
}
.mk-portfolio-item.cube-hover .portfolio-meta {
  z-index: 10;
}
.mk-portfolio-item.cube-hover .grid-hover-icons {
  z-index: 10;
}
.mk-portfolio-item.cube-hover .featured-image img {
  z-index: 11;
}
.mk-portfolio-item.cube-hover .image-hover-overlay {
  z-index: 4;
}
.mk-portfolio-item.cube-hover .featured-image:hover .portfolio-meta {
  z-index: 12;
}
.mk-portfolio-item.cube-hover .featured-image:hover .grid-hover-icons {
  z-index: 13;
}
.mk-portfolio-item.light-zoomin-hover .portfolio-meta {
  z-index: 20;
}
.mk-portfolio-item.light-zoomin-hover .grid-hover-icons {
  z-index: 13;
}
.mk-portfolio-item.light-zoomin-hover .image-hover-overlay {
  z-index: 11;
}
.mk-portfolio-item .fadebox-post-type-icon {
  z-index: 20;
}
.mk-portfolio-item .featured-image img {
  z-index: 10;
}
.mk-portfolio-item .featured-image .hover-overlay {
  z-index: 11;
}
/**********************************************
portfolio-single.less
**********************************************/
.portfolio-similar-posts-image img {
  z-index: 10;
}
.portfolio-similar-posts-image .image-hover-overlay {
  z-index: 11;
}
.portfolio-similar-meta {
  z-index: 20;
}
/**********************************************
preloader.less
**********************************************/
.mk-body-loader-overlay {
  z-index: 2351;
}
/**********************************************
pricing-tables.less
**********************************************/
.pricing-cols li.pricing-col {
  z-index: 10;
}
.pricing-cols li.featured-plan {
  z-index: 20;
}
.pricing-cols .pricing-price span {
  z-index: 20;
}
.pricing-cols .pricing-features ul {
  z-index: 20;
}
.pricing-cols .pricing-button a {
  z-index: 20;
}
/**********************************************
reset.less
**********************************************/
.ls-jupiter .ls-nav-prev,
.ls-jupiter .ls-nav-next {
  z-index: 10 !important;
}
/**********************************************
section-transition.less
**********************************************/
.intro-effect-fade,
.intro-effect-zoom_out {
  z-index: 999;
}
.intro-effect-shuffle {
  z-index: 999;
}
/**********************************************
shortcodes-blog-showcase.less
**********************************************/
.showcase-blog-overlay {
  z-index: 30;
}
.mk-blog-showcase-thumb {
  z-index: 20;
}
.mk-blog-showcase-thumb a {
  z-index: 40;
}
.blog-showcase-extra-info {
  z-index: 10;
}
/**********************************************
shortcodes-button.less
**********************************************/
.mk-button.savvy-dimension span {
  z-index: 2;
}
.mk-button.savvy-dimension:after {
  z-index: 1;
}
/**********************************************
shortcodes-chart.less
**********************************************/
.mk-chart canvas {
  z-index: 1;
}
.mk-chart .chart-percent {
  z-index: 10;
}
/**********************************************
shortcodes-contact-form.less
**********************************************/
.mk-contact-form-wrapper.classic-style .mk-form-row i {
  z-index: 1;
}
.mk-contact-form-wrapper.outline-style.contact-light .text-input,
.mk-contact-form-wrapper.outline-style.contact-light .mk-textarea {
  z-index: auto;
}
.mk-contact-form-wrapper.outline-style .mk-invalid {
  z-index: 10 !important;
}
.mk-contact-form-wrapper.corporate-style .mk-form-row .text-input,
.mk-contact-form-wrapper.corporate-style .mk-form-row .mk-textarea {
  z-index: auto;
}
.mk-contact-form-wrapper.corporate-style .mk-invalid {
  z-index: 10 !important;
}
.mk-progress-button[data-style="move-up"] .mk-progress-button-content {
  z-index: 10;
}
/**********************************************
shortcodes-contact-seven.less
**********************************************/
span.wpcf7-not-valid-tip {
  z-index: 30;
}
/**********************************************
shortcodes-divider.less
**********************************************/
.mk-divider[class*='go_top'] .divider-inner:before {
  z-index: 3;
}
.mk-divider[class*='go_top'] .divider-inner .divider-go-top {
  z-index: 4;
}
/**********************************************
shortcodes-edge-slideshow.less
**********************************************/
.mk-swipe-slideshow .swiper-arrows {
  z-index: 10;
}
/**********************************************
shortcodes-employees.less
**********************************************/
.mk-employees.classic-style .mk-employeee-networks {
  z-index: 1;
}
/**********************************************
shortcodes-flickr-feeds.less
**********************************************/
.mk-flickr-feeds-shortcode .flickr_badge_image a {
  z-index: 5;
}
/**********************************************
shortcodes-flipbox.less
**********************************************/
.mk-flipbox-container.flip-horizontal .mk-flipbox-front {
  z-index: 2;
}
.mk-flipbox-container.flip-horizontal:hover .mk-flipbox-back {
  z-index: 3;
}
.mk-flipbox-container.flip-vertical .mk-flipbox-front {
  z-index: 2;
}
.mk-flipbox-container.flip-vertical:hover .mk-flipbox-back {
  z-index: 3;
}
/**********************************************
shortcodes-gallery.less
**********************************************/
.mk-gallery-shortcode article .image-hover-overlay {
  z-index: 10;
}
.mk-gallery-shortcode article .gallery-title {
  z-index: 10;
}
.mk-gallery-shortcode article.hover-overlay_layer .gallery-desc {
  z-index: 10;
}
/**********************************************
shortcodes-icon-box.less
**********************************************/
.mk-box-icon.boxed-style .icon-box-boxed {
  z-index: 10;
}
.mk-box-icon.boxed-style .mk-main-ico {
  z-index: 20;
}
/**********************************************
shortcodes-image.less
**********************************************/
.mk-image-shortcode.inside-image .mk-image-caption {
  z-index: 10;
}
.mk-image-overlay {
  z-index: 10;
}
.mk-image-shortcode-lightbox {
  z-index: 30;
}
/**********************************************
shortcodes-laptop-slideshow.less
**********************************************/
.mk-laptop-slideshow-shortcode .flex-direction-nav a {
  z-index: 60;
}
.mk-laptop-image {
  z-index: 50;
}
/**********************************************
shortcodes-lcd-slideshow.less
**********************************************/
.mk-lcd-slideshow .flex-direction-nav a {
  z-index: 60;
}
.mk-lcd-image {
  z-index: 50;
}
/**********************************************
shortcodes-page-section.less
**********************************************/
.mk-page-section .vc_row-fluid {
  z-index: 10;
}
.mk-video-mask,
.mk-video-color-mask {
  z-index: 3;
}
.mk-video-preload {
  z-index: 2;
}
.mk-section-video {
  z-index: 1;
}
.mk-section-video video {
  z-index: 1;
}
.mk-section-image {
  z-index: 1;
}
.mk-half-layout-container {
  z-index: 5;
}
.mk-video-section-touch {
  z-index: 2;
}
.mk-page-section-loader {
  z-index: 20;
}
/**********************************************
shortcodes-page-title-box.less
**********************************************/
.mk-page-title-box .mk-page-title-box-content {
  z-index: 10;
}
/**********************************************
shortcodes-portfolio-carousel.less
**********************************************/
.mk-portfolio-carousel .flex-viewport ul li:hover .portfolio-carousel-extra-info {
  z-index: 30;
}
.portfolio-carousel-extra-info {
  z-index: 8;
}
.mk-portfolio-carousel-modern .mk-portfolio-modern-image img {
  z-index: 10;
}
.mk-portfolio-carousel-modern .image-hover-overlay {
  z-index: 11;
}
.mk-portfolio-carousel-modern .portfolio-modern-meta {
  z-index: 20;
}
.mk-portfolio-carousel-modern .flex-direction-nav a {
  z-index: 20;
}
.modern-post-type-icon {
  z-index: 20;
}
/**********************************************
shortcodes-skill-meter.less
**********************************************/
.mk-skill-meter .mk-progress-bar .progress-inner {
  z-index: 1;
}
/**********************************************
shortcodes-slideshow.less
**********************************************/
.mk-slideshow-shortcode .mk-flex-caption span {
  z-index: 10;
}
.mk-slideshow-shortcode .color-mask {
  z-index: 5;
}
.theatre-slider-container .laptop-theatre-slider img,
.theatre-slider-container .computer-theatre-slider img {
  z-index: 3;
}
.no-csstransforms .theatre-slider-container .laptop-theatre-slider img,
.no-csstransforms .theatre-slider-container .computer-theatre-slider img {
  z-index: 1;
}
.theatre-slider-container .laptop-theatre-slider .player-container,
.theatre-slider-container .computer-theatre-slider .player-container {
  z-index: 2;
}
/**********************************************
shortcodes-tab-slider.less
**********************************************/
.mk-tab-slider {
  z-index: 1;
}
.mk-tab-slider-nav a {
  z-index: 2;
}
/**********************************************
shortcodes-tab.less
**********************************************/
.mk-tabs .mk-tabs-panes .mk-tabs-pane {
  z-index: 8;
}
.mk-tabs.default-style .mk-tabs-tabs {
  z-index: 10;
}
.mk-tabs.default-style .mk-tabs-panes {
  z-index: 1;
}
/**********************************************
shortcodes-testimonial-slider.less
**********************************************/
.mk-testimonial.modern-style .flex-control-nav {
  z-index: 10;
}
/**********************************************
shortcodes-tooltip.less
**********************************************/
.mk-tooltip {
  z-index: 30;
}
/**********************************************
side-dashboard.less
**********************************************/
#mk-theme-container {
  z-index: 200;
}
.mk-side-dashboard {
  z-index: 1;
}
.dashboard-opened .mk-side-dashboard {
  z-index: 300;
}
.sidedash-navigation-ul {
  z-index: 20;
}
.sidedash-navigation-ul li a {
  z-index: 5;
}
.sidedash-navigation-ul .mk-nav-arrow {
  z-index: 10;
}
/**********************************************
transitions.less
**********************************************/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**********************************************
vertical-menu.less
**********************************************/
.mk-vm-menuwrapper {
  z-index: 30;
}
.mk-vm-menuwrapper .mk-vm-menu {
  z-index: 30;
}
/**********************************************
vertical-menu.less
**********************************************/
.flickr-widget-wrapper .flickr_badge_image {
  z-index: 7;
}
.mk-instagram-feeds .featured-image img {
  z-index: 6;
}
.mk-instagram-feeds .image-hover-overlay {
  z-index: 20;
}
.widget_recent_portfolio ul li:hover .portfolio-widget-info {
  z-index: 20;
}
.portfolio-widget-thumb {
  z-index: 10;
}
.widget-portfolio-overlay {
  z-index: 10;
}
.portfolio-widget-lightbox,
.portfolio-widget-permalink {
  z-index: 15;
}
.portfolio-widget-info {
  z-index: 8;
}
.mk-quick-contact-wrapper {
  z-index: 400;
}
#mk-quick-contact {
  z-index: 100;
}
.portfolio-widget-thumb {
  z-index: 10;
}
.widget-portfolio-overlay {
  z-index: 10;
}
/**********************************************
woocommerce-layout.less
**********************************************/
.woocommerce .mk-product-holder,
.woocommerce-page .mk-product-holder {
  z-index: 10;
}
.woocommerce .mk-product-holder .product-loop-image,
.woocommerce-page .mk-product-holder .product-loop-image {
  z-index: 3;
}
.woocommerce .mk-product-holder .product-hover-image,
.woocommerce-page .mk-product-holder .product-hover-image {
  z-index: 4;
}
.woocommerce .mk-product-holder .product-item-footer,
.woocommerce-page .mk-product-holder .product-item-footer {
  z-index: 6;
}
.woocommerce .mk-product-holder .product-loading-icon,
.woocommerce-page .mk-product-holder .product-loading-icon {
  z-index: 5;
}
/**********************************************
woocommerce.less
**********************************************/
p.demo_store {
  z-index: 99998;
}
.woocommerce .quantity .plus,
.woocommerce-page .quantity .plus,
.woocommerce #content .quantity .plus,
.woocommerce-page #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce-page .quantity .minus,
.woocommerce #content .quantity .minus,
.woocommerce-page #content .quantity .minus {
  z-index: 10;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  z-index: 2;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
  z-index: 1;
}
.mk-onsale,
.mk-out-stock,
.out-of-stock {
  z-index: 30;
}
.mk-woocommerce-carousel.modern-style .mk-lightbox i {
  z-index: 14;
}
.abb-skip-to-next {
  position: absolute;
  display: table;
  left: 50%;
  cursor: pointer;
  bottom: 0;
  margin: -26px 0 26px -26px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.9;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.abb-skip-to-next i {
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.abb-skip-to-next:hover {
  opacity: 1;
}
.abb-skip-to-next:hover i {
  -webkit-transform: translate3d(0, 5%, 0);
  -moz-transform: translate3d(0, 5%, 0);
  -ms-transform: translate3d(0, 5%, 0);
  -o-transform: translate3d(0, 5%, 0);
  transform: translate3d(0, 5%, 0);
  ms-transform: translate3d(0, 5%, 0);
}
.abb-skip-to-next[data-skin="dark"] {
  border: 2px solid #333;
}
.abb-skip-to-next[data-skin="dark"] i {
  color: #333;
}
.abb-skip-to-next[data-skin="light"] {
  border: 2px solid #fff;
}
.abb-skip-to-next[data-skin="light"] i {
  color: #fff;
}
.mk-swipe-slideshow .mk-swiper-wrapper {
  height: 0;
  overflow: hidden;
}
.clear {
  clear: both;
}
.nobr {
  white-space: nowrap;
}
/**
 * Objects
 */
/* Makes the site print friendly... */
@media print {
  a {
    text-decoration: underline;
  }
  a[href="#"],
  a[href="javascript:"] {
    content: "";
  }
  #mk-header,
  #mk-sidebar,
  #mk-footer,
  .news-post-heading,
  .mk-quick-contact-wrapper,
  .mk-go-top,
  .mk-back-top,
  .mk-loop-next-prev,
  .single-social-section,
  .single-post-tags,
  .single-back-top,
  .mk-about-author-wrapper,
  .blog-similar-posts,
  #comments,
  .mk-post-nav {
    display: none !important;
  }
  .theme-page-wrapper,
  .theme-content {
    width: 100% !important;
    left: 0;
  }
  p,
  .mk-blockquote {
    page-break-after: avoid;
    page-break-inside: avoid;
    width: 95% !important;
  }
}
input[type="text"],
textarea,
.mk-grid div,
[class*='mk-col-'],
*:after,
*:before,
.text-input,
.theme-page-wrapper,
.mk-blog-grid-item,
#mk-page-introduce,
.mk-header-toolbar,
.mk-news-item,
.mk-employee-item,
#mk-notification-bar,
.mk-blog-classic-item,
.mk-fullwidth-boxed,
.mk-image-caption,
.mk-gallery-shortcode .gallery-inner,
.testimonial-column .testimonial-item,
.mk-blog-grid-item,
.page-section-content,
#mk-theme-container,
.mk-gallery-shortcode .gallery-title,
.mk-gallery-shortcode .gallery-caption,
.shopping-cart-header {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class*='mk-col-'] {
  float: left;
  padding-right: 25px;
  min-height: 1px;
}
[class*='mk-col-']:last-of-type {
  padding-right: 0px;
}
.mk-grid {
  width: 100%;
  min-width: 755px;
  margin: 0 auto;
}
.mk-grid:after {
  content: "";
  display: table;
  clear: both;
}
.mk-grid-pad {
  padding: 20px 0 0px 20px;
}
.mk-grid-pad > [class*='mk-col-']:last-of-type {
  padding-right: 20px;
}
.mk-push-right {
  float: right;
}
/* Content Columns */
.mk-col-1-1 {
  width: 100%;
}
.mk-col-2-3,
.mk-col-8-12 {
  width: 66.66%;
}
.mk-col-1-2,
.mk-col-6-12 {
  width: 50%;
}
.mk-col-1-3,
.mk-col-4-12 {
  width: 33.33%;
}
.mk-col-1-4,
.mk-col-3-12 {
  width: 25%;
}
.mk-col-1-5 {
  width: 20%;
}
.mk-col-1-6,
.mk-col-2-12 {
  width: 16.667%;
}
.mk-col-1-7 {
  width: 14.28%;
}
.mk-col-1-8 {
  width: 12.5%;
}
.mk-col-1-9 {
  width: 11.1%;
}
.mk-col-1-10 {
  width: 10%;
}
.mk-col-1-11 {
  width: 9.09%;
}
.mk-col-1-12 {
  width: 8.33%;
}
/* Layout Columns */
.mk-col-11-12 {
  width: 91.66%;
}
.mk-col-10-12 {
  width: 83.333%;
}
.mk-col-9-12 {
  width: 75%;
}
.mk-col-5-12 {
  width: 41.66%;
}
.mk-col-7-12 {
  width: 58.33%;
}
@media handheld, only screen and (max-width: 767px) {
  .mk-grid {
    width: 100%;
    min-width: 0;
  }
  [class*='mk-col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #mk-footer [class*='mk-col-'] {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
/* Grid with fluid columns */
/*
.vc_row-fluid:before,
.vc_row-fluid:after {
  display: table;
  content: "";
}
.vc_row-fluid:after {
  clear: both;
}

.vc_row-fluid [class*="vc_span"]:first-child {
  margin-left: 0;
}
.mk-fullwidth-true > [class*="vc_span"]:first-child{
  border-left:none !important;
}
.mk-fullwidth-true > [class*="vc_span"]:last-child {
  border-right:none !important; 
}
.vc_row-fluid > [class*="vc_span"]:not(:last-child) {
  border-right:none !important;
}

.vc_row-fluid .vc_span12{
  width: 100%;
}
.vc_row-fluid .vc_span11 {
  width: 91.45833333333334%;
}
.vc_row-fluid .vc_span10 {
  width: 82.91666666666667%;
}
.vc_row-fluid .vc_span9 {
  width: 74.375%;
}
.vc_row-fluid .vc_span8 {
  width: 65.83333333333334%;
}
.vc_row-fluid .vc_span7 {
  width: 57.29166666666667%;
}
.vc_row-fluid .vc_span6{
  width: 48.75%;
}
.vc_row-fluid .vc_span5 {
  width: 40.208333333333336%;
}
.vc_row-fluid .vc_span4{
  width: 31.666666666666668%;
}
.vc_row-fluid .vc_span3{
  width: 23.125%;
}
.vc_row-fluid .vc_span_one_fifth {
  width: 17.9487179487179488%;
  *width: 17.87424986361156592%;
}
.vc_row-fluid .vc_span2 {
  width: 14.583333333333334%;
}
.vc_row-fluid .vc_span1 {
  width: 6.041666666666667%;
}
.wpb_row.attched-true > {
  [class*="vc_span"] {
    margin-left: 0;
  }
  .vc_span11 {
    width: 91.666666666667%;
  }
  .vc_span10 {
    width: 83.333333333333%;
  }
  .vc_span9 {
    width: 75%;
  }
  .vc_span8 {
    width: 66.666666666667%;
  }
  .vc_span7 {
    width: 58.333333333333%;
  }
  .vc_span6 {
    width: 50%;
  }
  .vc_span5 {
    width: 41.666666666667%;
  }
  .vc_span4 {
