::-webkit-scrollbar {
    display: none;
}

body {
    font-weight: 100;
    overflow: hidden;
}

#mainContent {
    margin: 0;
    padding: 0;
}

#datetime {
    text-align: right;
    padding-top: 8px;
    padding-right: 13px;
}

#rightcol {
    text-align: right;
    padding-top: 0px;
    padding-right: 13px;
}

#date, #time {
    margin: 0;
    padding: 0;
}

#date {
    font-size: 3vw;
}

#time {
    font-size: 5vw;
}

#events-upcoming {
    text-align: right;
    list-style: none;
}

#weather {
    font-size: 3vw;
}
